<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web collage editor</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="/editor/css/main.css">
</head>
<body>
    <div id="app">
        <nav id="nav">
            <h1>Editor</h1>
            <div id="nav-wrap">
                <span>Zoom ({{zoom}}%)</span>
                <button id="zoom-out" @click="$store.commit('stage.zoomOut')" title="zoom out">-</button>
                <button id="zoom-in" @click="$store.commit('stage.zoomIn')" title="zoom in">+</button>
                <hr>
                <button id="add-new" @click="$store.commit('stage.addNew')" title="add new component to collage">add new component</button>
            </div>
        </nav>
        <div id="stage">
            <collage-item v-for="(item ,i) of items" :key="i" :index="i" :item="item"></collage-item>
        </div>
        <item-context-menu v-if="itemContextMenu.open" :left="itemContextMenu.left" :top="itemContextMenu.top"></item-context-menu>
    </div>
    <!-- vue, vuex, interact.io -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@2.0.0"></script>
    <script src="http://code.interactjs.io/v1.3.4/interact.min.js"></script>
    <script src="/editor/js/vuex-undo-redo.min.js"></script>

    <!-- vue app -->
    <script src="/editor/js/store.js"></script>
    <script src="/editor/js/components.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            store,
            computed: {
                items() { return this.$store.state.items; },
                zoom() { return this.$store.state.zoom },
                itemContextMenu() { return this.$store.state.itemContextMenu; }
            },
            mounted() {
                // add history key listeners
                window.addEventListener('keydown', function (e) {
                    if (e.ctrlKey && e.key === 'z') {
                        e.preventDefault();
                        this.undo();
                    }
                    else if (e.ctrlKey && e.key === 'y') {
                        e.preventDefault();
                        this.redo();
                    }
                }.bind(this));
            }
        });
    </script>
</body>
</html>