// vars
$color-main: deeppink;
$color-black: #0d121d;
$color-grey: #b8b7b7;

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.blank {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
}
button:not(.blank) {
  height: 36px;
  border-radius: 18px;
  background-color: $color-main;
  text-transform: uppercase;
  color: $color-black;
  font-weight: 500;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  outline: none;
}
#nav {
  position: relative;
  display: flex;
  width: 100%;
  height: 50px;
  padding: 0 30px;
  background-color: $color-black;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  h1 {
    color: $color-main;
    font-weight: 300;
  }
  &-wrap button:not(:last-child) {
    margin-right: 6px;
  }
  hr {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 1px;
    background-color: $color-main;
    margin: 0 20px;
    border: none;
  }
  span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: $color-main;
    font-size: 14px;
    margin-right: 12px;
  }
}
#stage {
  position: relative;
  perspective: 1000px;
}

.collage-item {
  position: absolute;
  display: block;
  overflow: hidden;
  border: 1px dotted transparent;
  &:hover, &[data-selected="true"] {
    border-color: $color-grey;
    .collage-item-nav {
      opacity: 1;
    }
  }
  &-child {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  &-nav {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
    transition: opacity .35s;
    z-index: 2;
    &-btn {
      $size: 36px;
      position: relative;
      width: $size;
      height: $size;
      background-color: #fff;
      border: 2px solid $color-black;
      border-radius: 50%;
      outline: none;
      flex: none;
      margin: 0 3px;
      cursor: pointer;
      svg {
        $size: 18px;
        position: absolute;
        display: block;
        width: $size;
        height: $size;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.context-menu {
  position: absolute;
  display: block;
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0,0,0,.3);
  padding: 0;
  &-btn {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    text-align: left;
    &:hover {
      background-color: #eee;
    }
  }
}

.clip-tool {
  $circle-hover-size: 4px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  &[data-path-hover="true"] {
    polygon {
      stroke-width: $circle-hover-size;
    }
    circle {
      r: $circle-hover-size;
      transition: r .25s;
    }
  }
  polygon {
    stroke: $color-black;
    stroke-width: 2px;
    fill: transparent;
    transition: stroke-width .25s;
  }
  circle:hover {
    r: $circle-hover-size;
  }
}