html, body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif; }

.blank {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none; }

button:not(.blank) {
  height: 36px;
  border-radius: 18px;
  background-color: deeppink;
  text-transform: uppercase;
  color: #0d121d;
  font-weight: 500;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  outline: none; }

#nav {
  position: relative;
  display: flex;
  width: 100%;
  height: 50px;
  padding: 0 30px;
  background-color: #0d121d;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; }
  #nav h1 {
    color: deeppink;
    font-weight: 300; }
  #nav-wrap button:not(:last-child) {
    margin-right: 6px; }
  #nav hr {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 1px;
    background-color: deeppink;
    margin: 0 20px;
    border: none; }
  #nav span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: deeppink;
    font-size: 14px;
    margin-right: 12px; }

#stage {
  position: relative;
  perspective: 1000px; }
